

/*#cover-page {*/
/*    !*background-color: yellow;*!*/
/*    background-image: url("../img/cover.jpeg");*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    background-size: cover;*/
/*}*/

/*#cover-title {*/
/*    color: white;*/
/*    text-align: center;*/
/*    margin-top: 25%;*/
/*    font-size: 80px;*/
/*}*/

/*#header {*/

/*    color: white;*/
/*    font-size: 30px;*/
/*    position: fixed;*/
/*    top:0;*/
/*    z-index: 100;*/
/*}*/

/*.worldmap {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: static;*/
/*}*/


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
}

nav {
    background: black;
    z-index: 5;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: translateX(-50%) translateY(-50%);
}

#back-to-top-button {
    display: inline-block;
    background-color: transparent;
    width: 60px;
    height: 60px;
    text-align: center;
    border:  2px dotted rgb(1, 35, 69);
    border-radius: 5px;
    position: fixed;
    bottom: 25%;
    left: 3%;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

#back-to-top-button:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.5;
}

#back-to-top-button:active {
    background-color: transparent;
}

#back-to-top-button.show {
    opacity: 1;
    visibility: visible;
}

.icon-arrow-up {
    color: rgb(1, 35, 69);
    vertical-align: middle;
    font-size: 50px;
}

.icon-arrow-up:hover{
    color: white;
}

#cover {
    /*height: 700px;*/
    z-index: 2;
    height: 100vh;
    display: inline-block;
    width: 100%;
}

#user-2015 {
    /*height: 700px;*/
    /*background-image: url("../img/worldmap.jpg");*/
    /*display: inline-block;*/
    width: 100%;
}

#user-2016 {
    /*height: 700px;*/
    display: inline-block;
    width: 100%;
}

#user-2017 {
    /*height: 700px;*/
    display: inline-block;
    width: 100%;
}

/*h1 {*/
/*    !*margin: 100px;*!*/
/*    text-align: center;*/
/*    padding: 0;*/
/*    display: inline;*/

/*}*/

#nav-title {
    display: inline-block;
    transition: color 0.5s ease-out;
}

.animated-title {
    transition: all 0.5s ease-in-out;
}

.section-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    /*width: 800px;*/
    display: inline;
}

.section-title p {
    margin-top: 20px;
    display: inline;
}

#project-title {
    opacity: 1;
    transform: scale(1);
    font-size: 80px;
    color: white;
    text-align: center;
    margin-top: 20%;
}

.canvas {
    float: right;
    width: 1300px;
    height: 100%;
}

.description {
    padding-top: 10%;
    float: right;
    width: 50%;
    height: 100%;
    opacity: 80%;
}

.message {
    margin-top: 50px;
    margin-left: 10px;
    font-size: 25px;
}

.worldmap {
    position: fixed;
    left: 10vw;
    top: 10vh;
    bottom: 8vh;
    width: 50vw;
    height: 55vh;
    display: none;
}

#map {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s;
}

#map.show {
    opacity: 1;
    visibility: visible;
}


.blank {
    visibility: hidden;
    height: 50px;
}

#posts {
    background-color: white;
}

#posts-title {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

#tags {
    float: left;
    width: 640px;
    height: 640px;
}

#combinations {
    float: right;
    /*width: 640px;*/
    height: 640px;
}

/*#numbers {*/
/*    display: block;*/
/*    margin-left: 400px;*/
/*}*/


/*#tags-trending {*/
/*    padding-top: 20px;*/
/*}*/

#tags-area {
    /*float: right;*/
    /*width: 100px;*/
    /*padding-top: 50px;*/
    height: 500px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 8px;
    overflow: scroll;

}

#select-instr {
    margin-bottom: 20px;
}

#trends {
    margin-left: 60px;
    /*display: inline;*/
    /*text-align: left;*/

}

.year-text { 
  /* margin-left: 18%;*/
  /* margin-right: 18%;*/
  text-anchor: middle;
  font-size: 18px;
}

#geomap path {
    stroke: rgb(112, 121, 14);
    fill: gainsboro;
    z-index: -1;
}

/*#slider-area {*/
/*    margin-left: 20%;*/
/*    margin-right: 20%;*/
/*    margin-bottom: 30px;*/
/*}*/

/*#year-slider {*/
/*    -webkit-appearance: none;*/
/*    width: 100%;*/
/*    height: 20px;*/
/*    opacity: 70%;*/
/*    outline: none;*/
/*    background: #d3d3d3;*/
/*}*/

/*.year-middle {*/
/*    display: table-cell;*/
/*    width: 100px;*/
/*    text-align: center;*/
/*}*/

.postYearChartLine {
  stroke-width: 2px;
  stroke: rgb(179, 209, 255);
  stroke-dasharray: 5px, 5px;
}

.tagName {
  fill: rgb(150, 16, 69);
  font-size: 14px;
  text-anchor: middle;
}

.tagCircle {
  fill: rgba(150, 16, 69, 0.2);
  stroke: rgb(150, 16, 69);
}

/* For the post year selector */
.postYearCircle {
  fill: rgba(0, 82, 204, 0.2);
  stroke: rgb(0, 82, 204);
}

.highlighted {
  fill: rgba(0, 82, 204, 0.6);
  stroke: rgb(0, 82, 204);
}

/* tooltip css for tagForce */
/* cite from http://bl.ocks.org/davegotz/bd54b56723c154d25eedde6504d30ad7 */
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  z-index: 5;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

