

/*#cover-page {*/
/*    !*background-color: yellow;*!*/
/*    background-image: url("../img/cover.jpeg");*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    background-size: cover;*/
/*}*/

/*#cover-title {*/
/*    color: white;*/
/*    text-align: center;*/
/*    margin-top: 25%;*/
/*    font-size: 80px;*/
/*}*/

/*#header {*/

/*    color: white;*/
/*    font-size: 30px;*/
/*    position: fixed;*/
/*    top:0;*/
/*    z-index: 100;*/
/*}*/

/*.worldmap {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: static;*/
/*}*/


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
}

nav {
    width: 100%;
    height: 50px;
    background: black;
    overflow: hidden;
    position: fixed;
    top: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    float: left;
}

a {
    padding: 20px;
    width: 160px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

#cover {
    /*height: 700px;*/
    background-image: url("../images/cover.jpeg");
    display: inline-block;
    width: 100%;
}

#user-2015 {
    /*height: 700px;*/
    /*background-image: url("../img/worldmap.jpg");*/
    /*display: inline-block;*/
    width: 100%;
}

#user-2016 {
    /*height: 700px;*/
    display: inline-block;
    width: 100%;
}

#user-2017 {
    /*height: 700px;*/
    display: inline-block;
    width: 100%;
}

/*h1 {*/
/*    !*margin: 100px;*!*/
/*    text-align: center;*/
/*    padding: 0;*/
/*    display: inline;*/

/*}*/



.section-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    /*width: 800px;*/
    display: inline;
}

.section-title p {
    margin-top: 20px;
    display: inline;
}

#project-title {
    font-size: 80px;
    color: white;
    text-align: center;
    margin-top: 20%;
}

.canvas {
    /*display: inline;*/
    float: left;
    width: 1300px;
    height: 100%;
}

.description {
    /*display: inline;*/
    float: right;
    width: 30%;
    height: 100%;
    background: orange;
    opacity: 50%;
}

.message {
    margin-top: 50px;
    margin-left: 10px;
    font-size: 25px;
}

.worldmap {
    position: fixed;

    left: 0;
    right: 500px;
    top: 60px;
    bottom: 150px;
    width: 1000px;
    /*width: 70%;*/
    height: 900px;
    /*background-color: mediumpurple;*/
    display: none;
    z-index: -1;
    /*top: 250px;*/
}

#map.show {
    display: block;
    transition-duration: 0.5s;
}


.blank {
    visibility: hidden;
    height: 50px;
}

#growth {
    float: left;
    width: 500px;
    height: 270px;
}

#top-user{
    float: right;
    width: 500px;
    height: 270px;
}

#geomap {
    /*margin-bottom: 30px;*/
}

#posts {
    background-color: white;
}

#posts-title {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

#tags {
    float: left;
    width: 640px;
    height: 640px;
}

#combinations {
    float: right;
    /*width: 640px;*/
    height: 640px;
}

#numbers {
    display: block;
    margin-left: 400px;
}

#tags-area {
    display: block;
}

#trends {
    margin-left: 0;
    /*display: inline;*/
    /*text-align: left;*/

}

#year-text {
    margin-left: 18%;
    margin-right: 18%;
}

#slider-area {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}

#year-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    opacity: 70%;
    outline: none;
    background: #d3d3d3;
}

.year-middle {
    display: table-cell;
    width: 100px;
    text-align: center;
}

