

/*#cover-page {*/
/*    !*background-color: yellow;*!*/
/*    background-image: url("../img/cover.jpeg");*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    background-size: cover;*/
/*}*/

/*#cover-title {*/
/*    color: white;*/
/*    text-align: center;*/
/*    margin-top: 25%;*/
/*    font-size: 80px;*/
/*}*/

/*#header {*/

/*    color: white;*/
/*    font-size: 30px;*/
/*    position: fixed;*/
/*    top:0;*/
/*    z-index: 100;*/
/*}*/

/*.worldmap {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: static;*/
/*}*/


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
}

nav {
    width: 100%;
    height: 50px;
    background: black;
    overflow: hidden;
    position: fixed;
    top: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    margin-left: 5vw;
    list-style: none;
}

li {
    float: left;
}

li a {
    padding: 20px;
    width: 160px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: translateX(-50%) translateY(-50%);
}

#back-to-top-button {
    display: inline-block;
    background-color: transparent;
    width: 50px;
    height: 50px;
    text-align: center;
    border:  2px dotted rgb(1, 35, 69);
    border-radius: 5px;
    position: fixed;
    bottom: 350px;
    left: 50px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

#back-to-top-button:hover {
    cursor: pointer;
    background-color: rgb(70, 146, 222);
    opacity: 0.5;
}

#back-to-top-button:active {
    background-color: transparent;
}

#back-to-top-button.show {
    opacity: 1;
    visibility: visible;
}

.icon-arrow-up {
    color: rgb(1, 35, 69);
    vertical-align: middle;
    font-size: 40px;
}

#cover {
    /*height: 700px;*/
    z-index: 2;
    height: 100vh;
    display: inline-block;
    width: 100%;
}

#user-2015 {
    /*height: 700px;*/
    /*background-image: url("../img/worldmap.jpg");*/
    /*display: inline-block;*/
    width: 100%;
}

#user-2016 {
    /*height: 700px;*/
    display: inline-block;
    width: 100%;
}

#user-2017 {
    /*height: 700px;*/
    display: inline-block;
    width: 100%;
}

/*h1 {*/
/*    !*margin: 100px;*!*/
/*    text-align: center;*/
/*    padding: 0;*/
/*    display: inline;*/

/*}*/

#nav-title {
    display: inline-block;
    transition: color 0.5s ease-out;
}

.animated-title {
    transition: all 0.5s ease-in-out;
}

.section-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    /*width: 800px;*/
    display: inline;
}

.section-title p {
    margin-top: 20px;
    display: inline;
}

#project-title {
    opacity: 1;
    transform: scale(1);
    font-size: 80px;
    color: white;
    text-align: center;
    margin-top: 20%;
}

.canvas {
    /*display: inline;*/
    float: left;
    width: 1300px;
    height: 100%;
}

.description {
    /*display: inline;*/
    float: right;
    width: 30%;
    height: 100%;
    background: orange;
    opacity: 50%;
}

.message {
    margin-top: 50px;
    margin-left: 10px;
    font-size: 25px;
}

.worldmap {
    position: fixed;

    left: 0;
    right: 500px;
    top: 60px;
    bottom: 150px;
    width: 1000px;
    /*width: 70%;*/
    height: 900px;
    /*background-color: mediumpurple;*/
    display: none;
    z-index: -1;
    /*top: 250px;*/
}

#map.show {
    display: block;
    transition-duration: 0.5s;
}


.blank {
    visibility: hidden;
    height: 50px;
}

#growth {
    float: left;
    width: 500px;
    height: 270px;
}

#top-user{
    float: right;
    width: 500px;
    height: 270px;
}

#geomap {
    /*margin-bottom: 30px;*/
}

#posts {
    background-color: white;
}

#posts-title {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

#tags {
    float: left;
    width: 640px;
    height: 640px;
}

#combinations {
    float: right;
    /*width: 640px;*/
    height: 640px;
}

#numbers {
    display: block;
    margin-left: 400px;
}

#tags-area {
    display: block;
}

#trends {
    margin-left: 0;
    /*display: inline;*/
    /*text-align: left;*/

}

#year-text {
    margin-left: 18%;
    margin-right: 18%;
}

#slider-area {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
}

#year-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    opacity: 70%;
    outline: none;
    background: #d3d3d3;
}

.year-middle {
    display: table-cell;
    width: 100px;
    text-align: center;
}

